# Required from externals tools.
OPENAI_API_KEY=
PINECONE_API_KEY=

# Usually for free pinecone account env is "us-west4-gcp-free"
PINECONE_ENVIRONMENT=

# The index can be created directly or will
# be created when you run prepare-data npm command
PINECONE_INDEX_NAME=my-index

# A user-defined name space is better to help Pinecone where to look
PINECONE_NAME_SPACE=my-namespace

# Path to your file
PDF_PATH=./docs/30051119241555.pdf

# Pinecone index creation requires time so hence we wait for 3 minutes
# If you don't want to wait, create the index on the Pinecone console 
# https://app.pinecone.io/organizations
INDEX_INIT_TIMEOUT=240000
